* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background: whitesmoke;
}

nav {
  display: flex;
  height: 4rem;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 8px 0 lightgrey;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: whitesmoke;
}
.header-img {
  height: 100%;
  margin-right: 6px;
}

.header-title {
  margin-right: auto;
}

.header-line {
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 50% 50% / 1fr 1fr;
  gap: 10px;
}

.form {
  width: 50%;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
}

.form-input {
  height: 2rem;
  text-indent: 5px;
  border: 1px solid grey;
}
.form-button {
  grid-column: 1 /-1;
  height: 2rem;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: whitesmoke;
  border: none;
  cursor: pointer;
  width: 80%;
  margin: auto;
}

.meme {
  padding-top: 20px;
  width: 30%;
  margin: auto;
  position: relative;
}

.meme-image {
  width: 100%;
  border-radius: 5px;
}

.text {
  position: absolute;
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 80%;
  text-align: center;
  margin: 25px 0;
  transform: translate(-50%);
  left: 50%;
  letter-spacing: 0.8px;
  -webkit-text-stroke: 0.5px black;
  text-transform: uppercase;
  font-size: larger;
}

.topText {
  top: 0;
}
.bottomText {
  bottom: 0;
}